@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

/* ПЕРЕМЕННЫЕ */
/* fonts */
$roboto: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
/* colors */
$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$text: #696980;
$btn-color: linear-gradient(to top left, #65e49b, #65e4b0);
$gray-color: #8787a7;

body{
    font-family: $roboto;
    font-size: 15px;
    line-height: 24px;
}
.wrap{
    max-width: 1170px;
    margin: 0 auto; 
}
h3{
    font-size: 24px;
}
.page-main{
    background: #4b8e93 url(../img/main-bg.jpg) no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 186px;
}
.header{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo.svg);
    }
    &-list{
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: $open-sans;
        &__item{
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: .3s;
            &:hover{
                border-bottom: 3px solid $accent-color;
            }
            &.active{
                border-bottom: 3px solid $accent-color;
            }
        }
        &__link{
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}
.block-text{
    flex-basis: calc(93% - 500px);
    &__name{
        font-family: $open-sans;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0.7px;
        margin-bottom: 43px;
        margin-top: 0;
        &_normal{
            font-family: $open-sans;
            font-size: 18px;
            letter-spacing: 0.7px;
            margin-bottom: 37px;
            margin-top: 0;
        }
        &_top{
            margin-top: 16px;
            margin-left: 0;
            color: #696980;
        }
    }
    &__title{
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 40px;
        span{
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top: 23px;
            letter-spacing: 0.9px;
        }
    }
    &__description{
        font-family: $open-sans;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.75px;
    }
    &__btn{
        display: block;
        background: $btn-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        margin-top: 48px;
        margin-bottom: 19px;
        padding: 11px 0 15px 0;
        letter-spacing: 0.7px;
        box-shadow: 0 -2px #b2f1be inset;
        &_dark{
            box-shadow: 0 -2px #59bb88 inset;
        }
    }
    &__remark{
        font-family: $open-sans;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 0.6px;
    }
    &-item{
        margin-bottom: 55px;
        &__date{
            color: #696980;
            font-size: 15px;
            font-family: $open-sans;
            letter-spacing: 0.8px;
            margin-bottom: 4px;
        }
        &__title{
            font-size: 18px;
            letter-spacing: 0.9px;
            margin-bottom: 12px;
        }
        &__desc{
            font-family: $open-sans;
            letter-spacing: 0.75px;
        }
        &__btn{
            font-size: 18px;
            display: block;
            background: $btn-color;
            color: $light-color;
            text-decoration: none;
            max-width: 137px;
            border-radius: 3px;
            text-align: center;
            margin-top: 24px;
            margin-bottom: 19px;
            padding: 11px 0 15px 0;
            letter-spacing: 0.7px;
            box-shadow: 0 -2px #b2f1be inset;
        }
    }
    &_width{
        flex-basis: calc(93% - 520px);
    }
}
.block-book{
    display: flex;
    justify-content: flex-start;
    &-demo{
        display: block;
        position: relative;
        width: 447px;
        height: 643px;
        background-image: url(../img/svg/book.svg);
        background-repeat: no-repeat;
        flex-basis: 500px;
        &__title{
            position: absolute;
            left: 131px;
            top: 118px;
            letter-spacing: 1.4px;
            font-family: $roboto;
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            span{
                display: block;
                letter-spacing: 0.7px;
                margin-top: 10px;
                font-family: $open-sans;
                color: $accent-color;
                font-size: 14px;
                text-transform: initial;/* сброс стилей */
            }
        }
        &__author{
            font-family: $open-sans;
            color: $accent-color;
            font-size: 14px;
            position: absolute;
            bottom: 52px;
            left: 87px;
            letter-spacing: 0.7px;
        }
    }
}
.page{
    padding-top: 161px;
    padding-bottom: 160px;
    &_gray{
        background-color: $bg-light-color;
    }
    &__title{
        font-size: 48px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }
    &__subtitle{
        font-size: 18px;
        color: $accent-color;
        text-align: center;
        letter-spacing: 0.9px;
    }
}
.block-author{
    display: flex;
    justify-content: space-between;
}
.block-ava{
    position: relative;
    &__svg{
        position: absolute;
        z-index: -1;
        right: 0;
        &_left{
            right: inherit;
            left: 0;
        }
    }
    &__img{
        margin-top: 47px;
        margin-right: 44px;
        &_left{
            margin-left: 51px;
            margin-right: 0;
        }
    }
}
.block-counter{
    display: flex;
    justify-content: space-around;
    margin-top: 152px;
    p {
        font-family: $open-sans;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.8px;
        span {
            display: block;
            font-family: $roboto;
            font-weight: 100;
            font-size: 80px;
            text-align: center;
            color: $accent-color;
            margin-bottom: 45px;
        }
    }
 }
.block-about{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    h3{
        margin-bottom: 20px;
        letter-spacing: 1.2px;
    }
    &__text{
        flex-basis: 41%;
        &__desc{
            font-family: $open-sans;
            letter-spacing: 0.6px;
        }
    }
    &__table{
        flex-basis: 49%;
        &__list{
            margin: 25px 0 0 0;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            &>li{
                position: relative;
                padding-left: 37px;
                list-style-type: none;
                counter-increment: list;
                margin-bottom: 8px;
                letter-spacing: 0.7px;
                &::before{
                    content: counter(list) ".";
                }
                &::after{
                    content: "+";
                    font-family: $open-sans;
                    position: absolute;
                    left: 0;
                    top: 1px;
                    color: #fff;
                    background-color: #5fc9b7;
                    padding: 0px 7px;
                    line-height: 22px;
                }
            }
        }
        &__btn{
            background: $btn-color;
            border: none;
            color: #fff;
            text-decoration: none;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            margin-top: 28px;
            padding: 11px 45px 15px 45px;
            letter-spacing: 0.7px;
            margin-bottom: 19px;
            outline: none;
            box-shadow: 0 -2px #b2f1be inset;
        }
    }
    &-social{
        display: flex;
        align-items: center;
        &__title{
            font-family: $roboto;
            font-size: 18px;
            font-weight: 700;
            margin-top: 14px;
            letter-spacing: 0.9px;
        }
        &__list{
            list-style-type: none;
            padding-left: 24px;
            &>li{
                display: inline-block;
                font-size: 18px;
                vertical-align: middle;
                margin-right: 12px;
                color: $accent-color;
            }
        }
    }
}
.other-books{
    background-color: #fff;
    &__title{
        text-align: center;
        font-size: 48px;
        margin-top: 160px;
        letter-spacing: 1.5px;
        span{
            display: block;
            margin-top: 22px;
            letter-spacing: 1px;
            font-size: 18px;
            color: $accent-color;
        }
    }
    .block-books{
        display: flex;
        justify-content: space-around;
        &-first, &-second, &-third{
            margin-top: 85px;
            flex-basis: 32%;
            &__title{
                margin-top: 35px;
                font-size: 24px;
                text-align: center;
                letter-spacing: 1px;
            }
            &__text{
                letter-spacing: 0.75px;
                text-align: center;
                font-family: $open-sans;
            }
            &__book{
                background-image: url(../img/svg/book-mini.svg);
                background-repeat: no-repeat;
                width: 269px;
                height: 409px;
                margin: 0 auto;
                position: relative;
                &__title{
                    position: absolute;
                    top: 70px;
                    left: 60px;
                    font-size: 24px;
                    font-weight: 700;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 1.2px;
                    span{
                        display: block;
                        margin-top: 7px;
                        color: $accent-color;
                        font-family: $open-sans;
                        font-size: 12px;
                        text-transform: initial;
                        letter-spacing: 0.6px;
                    }
                }
                &__text{
                    position: absolute;
                    bottom: 18px;
                    left: 75px;
                    color: $accent-color;
                    font-family: $open-sans;
                    font-size: 12px;
                    letter-spacing: 0.6px;
                }
            }
            &__link{
                display: block;
                text-decoration: none;
                color: $accent-color;
                text-align: center;
                letter-spacing: 0.75px;
                &:hover{
                    color: $accent-color/2;
                }
            }
        }
    }
    &__btn{
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        border: none;
        border-radius: 3px;
        background: $btn-color;
        color: #fff;
        font-size: 18px;
        padding: 14px 33px;
        letter-spacing: 0.75px;
        outline: none;
        box-shadow: 0 -2px #b2f1be inset;
    }
}
.block-blog{
    display: flex;
    justify-content: space-between;
    &+.other-books__btn{
        margin: 68px auto 0;
        padding: 15px 33px;
    }
    &-item{
        margin-top: 60px;
        h4{
            margin-top: 18px;
            font-size: 18px;
            letter-spacing: 0.85px;
        }
    }
    &-info{
        margin-top: -9px;
        font-size: 15px;
        font-family: $open-sans;
        a{
            color: $accent-color;
            text-decoration: none;
            margin-left: 5px;
        }
        p span{
            margin-left: 5px;
        }
        p span~span{
            margin-left: 0;
        }
    }
    &__desc{
        font-size: 15px;
        font-family: $open-sans;
        letter-spacing: 0.75px;
        text-align: left;
    }
    &-img{
        width: 369px;
        height: 224px;
        overflow: hidden;
        position: relative;
        img{
            width: 369px;
            height: 224px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}
.block-letter{
    display: flex;
    justify-content: space-between;
    &-item{
        flex-basis: 49%;
    }
    &__title{
        font-size: 48px;
        margin-bottom: 23px;
        letter-spacing: 1.9px;
        margin-top: 8px;
    }
    &__btn{
        display: block;
        width: 100%;
        background: $btn-color;
        color: $light-color;
        border-radius: 3px;
        text-align: center;
        letter-spacing: 1px;
        box-shadow: 0 -2px #b2f1be inset;
        outline: none;
        border: none;
        padding: 11px 0 18px 0;
        font-size: 18px;
        margin-top: 20px;
    }
    &__input{
        width: 100%;
        background: $bg-dark-color;
        color: $gray-color;
        outline: none;
        border: none;
        border-radius: 3px;
        font-family: $open-sans;
        padding: 15px 27px;
        box-sizing: border-box;
        letter-spacing: 0.75px;
        &:focus{
            outline: none;
            letter-spacing: 0.75px;
            color: $gray-color;
        }
    }
    &__text{
        font-family: $open-sans;
        letter-spacing: 0.75;
        text-align: justify;
    }
}
.footer{
    background-color: $bg-dark-color;
    color: $gray-color;
}
.block-footer{
    display: flex;
    justify-content: space-between;
    padding: 160px 0 115px 0;
    &-item{
        flex-basis: 30%;
        &__text{
            letter-spacing: 0.6px;
            margin-top: 25px;
        }
        &_position{
            margin-right: -90px;
        }
    }
    &__logo{
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo-mini.svg); 
        background-repeat: no-repeat;
    }
    &__title{
        font-size: 18px;
        color: $accent-color;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__list{
        list-style-type: none;
        letter-spacing: 0.75px;
        &>li{
            margin-top: 3px;
            &>a{
                text-decoration: none;
                color: $gray-color;
            }
        }
    }
    &__social{
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin-top: 8px;
        &>li{
            margin-right: 12px;
            padding-left: 0;
            &>a{
               color: $accent-color;
            }
        }
    }
}