@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

/* ПЕРЕМЕННЫЕ */
/* fonts */
$roboto: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
/* colors */
$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$text: #696980;
$btn-color: linear-gradient(to top left, #65e49b, #65e4b0);
$gray-color: #8787a7;

body{
    font-family: $roboto;
    font-size: 15px;
    line-height: 24px;
}
.wrap{
    max-width: 1170px;
    margin: 0 auto; 
    padding: 0 15px;
}
h3{
    font-size: 24px;
}
.page-main{
    background: #4b8e93 url(../img/main-bg.jpg) no-repeat;
    background-size: cover;
    color: $light-color;
    padding: 40px 0 165px;
    @media(max-width:1020px){
        padding-bottom: 120px;
    }
    @media(max-width:630px){
        padding-bottom: 80px;
    }
    @media(max-width:405px){
        padding-bottom: 50px;
    }
}
.header{
    max-width: 1170px;
    margin: 0 auto;
    padding: 38px 15px 166px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    @media(max-width: 1020px){
        padding: 38px 15px 95px 15px;
    }
    @media(max-width: 920px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    &__logo{
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo.svg);
        background-repeat: no-repeat;
        @media(max-width: 920px){
            margin-bottom: 25px;
        }
    }
    &-nav{
    position: relative;
    @media (max-width:750px){
        display: none;
    }
    }
    &-list{
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        font-family: $open-sans;
        @media (max-width:750px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        &__item{
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            -webkit-transition: .3s;
            transition: .3s;
            &:hover{
                border-bottom: 3px solid $accent-color;
            }
            &.active{
                border-bottom: 3px solid $accent-color;
            }
        }
        &__link{
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
    &-menu{
    border: none;
    display: none;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
    &:focus{
        outline: none;
    }
    & svg{
    width: 50px;
    height: 50px;
    }
    @media (max-width:750px){
        display: block;
    }
    &__close{
        border: none;
    display: none;
    background: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    top: 5px;
    right: -70px;
    &:focus{
        outline: none;
    }
    & svg{
        width: 15px;
        height: 15px;
    }
    @media (max-width:750px){
        display: block;
    }
    }
    }
}
.block-text{
    -ms-flex-preferred-size: calc(93% - 500px);
        flex-basis: calc(93% - 500px);
    @media(max-width:1020px){
        -ms-flex-preferred-size: calc(93% - 315px);
            flex-basis: calc(93% - 315px);
    }
    &__name{
        font-family: $open-sans;
        font-size: 18px;
        letter-spacing: 0.9px;
        margin-bottom: 28px;
        margin-top: 0;
        &_normal{
            font-family: $open-sans;
            font-size: 18px;
            letter-spacing: 0.7px;
            margin-bottom: 19px;
            margin-top: 0;
        }
        &_top{
            margin: 12px 0 20px;
            color: #696980;
        }
    }
    &__title{
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-top: 18px;
        line-height: 53px;
        margin-bottom: 38px;
        @media(max-width: 520px){
            font-size: 30px;
            line-height: 30px;
        }
        span{
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top: 11px;
            letter-spacing: 0.9px;
            line-height: 23px;
        }
    }
    &__description{
        font-family: $open-sans;
        font-size: 15px;
        line-height: 24px;
        margin-top: 26px;
        letter-spacing: 0.75px;
    }
    &__btn{
        display: block;
        background: $btn-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        margin-top: 48px;
        margin-bottom: 19px;
        padding: 11px 0 15px 0;
        font-size: 18px;
        letter-spacing: 0.8px;
        -webkit-box-shadow: 0 -2px #b2f1be inset;
                box-shadow: 0 -2px #b2f1be inset;
        &_dark{
            -webkit-box-shadow: 0 -2px #59bb88 inset;
                    box-shadow: 0 -2px #59bb88 inset;
            @media(max-width: 1020px){
                margin: 40px auto 0;
            }
        }
        @media(max-width: 850px){
            margin: 40px auto 10px;
        }   
    }
    &__remark{
        font-family: $open-sans;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 0.6px;
    }
    &-item{
        margin-bottom: 55px;
        &__date{
            color: #696980;
            font-size: 15px;
            font-family: $open-sans;
            letter-spacing: 0.8px;
            margin-bottom: 4px;
        }
        &__title{
            font-size: 18px;
            letter-spacing: 0.9px;
            margin-bottom: 12px;
        }
        &__desc{
            font-family: $open-sans;
            letter-spacing: 0.75px;
        }
        &__btn{
            font-size: 18px;
            display: block;
            background: $btn-color;
            color: $light-color;
            text-decoration: none;
            max-width: 137px;
            border-radius: 3px;
            text-align: center;
            margin-top: 24px;
            margin-bottom: 19px;
            padding: 11px 0 15px 0;
            letter-spacing: 0.7px;
            -webkit-box-shadow: 0 -2px #b2f1be inset;
                    box-shadow: 0 -2px #b2f1be inset;
            @media(max-width: 850px){
                margin: 40px auto 0;
            }   
        }
    }
    &_width{
        -ms-flex-preferred-size: calc(93% - 520px);
            flex-basis: calc(93% - 520px);
        @media(max-width: 1020px){
            -ms-flex-preferred-size: calc(93% - 315px);
                flex-basis: calc(93% - 315px);
        }
    }
}
.block-book{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    @media(max-width:1020px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        text-align: center;
    }
    &-demo{
        display: block;
        position: relative;
        width: 447px;
        height: 643px;
        background-image: url(../img/svg/book.svg);
        background-repeat: no-repeat;
        background-size: contain;
        -ms-flex-preferred-size: 500px;
            flex-basis: 500px;
        @media(max-width:1020px){
            margin: 35px auto 0;
            -ms-flex-preferred-size: 638px;
                flex-basis: 638px;
        }
        @media(max-width:520px){
            margin: 35px auto 0;
            max-width: 280px;
            max-height: 400px;
        }
        &__title{
            position: absolute;
            left: 131px;
            top: 118px;
            letter-spacing: 1.4px;
            font-family: $roboto;
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            @media (max-width:520px){
                top: 50px;
                left: 42px;
                line-height: 1;
            } 
            span{
                display: block;
                letter-spacing: 0.7px;
                margin-top: 10px;
                font-family: $open-sans;
                color: $accent-color;
                font-size: 14px;
                text-transform: initial;/* сброс стилей */
                 @media (max-width:520px){
                    line-height: 1.5;
                }
            }
        }
        &__author{
            font-family: $open-sans;
            color: $accent-color;
            font-size: 14px;
            position: absolute;
            bottom: 41px;
            left: 87px;
            letter-spacing: 0.7px;
             @media (max-width:520px){
                left: 50px;
                bottom: 10px;
            }
        }
    }
}
.page{
    padding-top: 58px;
    padding-bottom: 140px;
    @media(max-width:1020px){
        padding-top: 120px;
        padding-bottom: 120px;
    } 
    @media(max-width:750px){
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media(max-width:405px){
        padding-top: 50px;
        padding-bottom: 50px;
    } 
    &-slider{
        position: relative;
        @media(max-width:1020px){
            background-color: $bg-dark-color;
        }
    }
    &_gray{
        background-color: $bg-light-color;
    }
    &__title{
        margin-top: 100px;
        font-size: 48px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
        color: $bg-dark-color;
        @media(max-width: 520px){
            font-size: 30px;
            margin-top: 30px;
        }
    }
    &__subtitle{
        font-size: 18px;
        color: $accent-color;
        text-align: center;
        letter-spacing: 0.9px;
        @media(max-width: 520px){
            margin-bottom: 0;
            font-size: 16px;
        }
    }
    &__svg{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        min-height: 694px;
        margin-bottom: 50px;
        @media(max-width: 1020px){
            display: none;
        }
    }
}
.path{
    width: 100%;
}
.block-author{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: $text;
    @media (max-width:850px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    @media (min-width:1600px){
        padding-top: 63px;
    }
    @media(max-width:405px){
            padding-top: 30px;
    }
    h2{
        color: $bg-dark-color;
    }
}
.block-ava{
    position: relative;
    @media (max-width:850px){
        max-width: 356px;
        margin: 50px auto;
    }
    &__svg{
        position: absolute;
        z-index: -1;
        right: 0;
        @media(max-width:1020px){
        width: 300px;
        height: 412px;
        }
        @media(max-width:405px){
            width: 200px;
            height: 300px;
            }
        &_left{
            right: inherit;
            left: 0;
        }
    }
    &__img{
        margin-top: 47px;
        margin-right: 44px;
        @media(max-width:1020px){
        width: 300px;
        }
        @media(max-width:405px){
            width: 200px;
            }
        &_left{
            margin-left: 51px;
            margin-right: 0;  
        }
    }
}
.block-counter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 172px;
    @media(max-width:750px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    @media(max-width: 520px){
        margin-top: 52px;
    }
    p {
        font-family: $open-sans;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.8px;
        color: $text;
        @media(max-width:750px){
            margin-bottom: 80px;
        }
        @media(max-width: 520px){
            margin-bottom: 45px;
        }
        span {
            display: block;
            font-family: $roboto;
            font-weight: 100;
            font-size: 80px;
            text-align: center;
            color: $accent-color;
            margin-bottom: 45px;
            @media(max-width: 520px){
                font-size: 60px;
                margin-bottom: 29px;
            }
        }
    }
 }
.block-about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 82px;
    @media(max-width:1020px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 82px auto 0;
        max-width: 750px;
    }
    h3{
        margin-bottom: 20px;
        letter-spacing: 1.2px;
        color: $bg-dark-color;
    }
    &__text{
        -ms-flex-preferred-size: calc(100% - 690px);
            flex-basis: calc(100% - 690px);
        @media(max-width:1020px){
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
         }
        &__desc{
            font-family: $open-sans;
            letter-spacing: 0.6px;
            color: $text;
        }
    }
    &__table{
         -ms-flex-preferred-size: 585px;
             flex-basis: 585px;
         @media(max-width:1020px){
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            margin-top: 40px;
         }
        &__list{
            margin: 25px 0 0 0;
            padding: 0;
            counter-reset: list;
            -webkit-column-count: 2;
                    column-count: 2;
            -webkit-column-gap: 19px;
                    column-gap: 19px;
            color: $text;
            @media(max-width:630px){
                -webkit-column-count: 1;
                        column-count: 1;
            }
            &>li{
                position: relative;
                padding-left: 37px;
                list-style-type: none;
                counter-increment: list;
                margin-bottom: 8px;
                letter-spacing: 0.7px;
                &::before{
                    content: counter(list) ".";
                }
                &::after{
                    content: "+";
                    font-family: $open-sans;
                    position: absolute;
                    left: 0;
                    top: calc(50% - 11px);
                    color: #fff;
                    background-color: #5fc9b7;
                    padding: 0px 7px;
                    line-height: 22px;
                }
            }
            &_next{
                counter-reset: list 10;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100px;
                    height: 2px;
                    background-color: #5fc9b7;
                    top: -16px;
                }
            }
        }
        &__btn{
            background: $btn-color;
            border: none;
            color: #fff;
            text-decoration: none;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            margin-top: 28px;
            padding: 11px 45px 15px 45px;
            letter-spacing: 0.7px;
            margin-bottom: 19px;
            outline: none;
            -webkit-box-shadow: 0 -2px #b2f1be inset;
                    box-shadow: 0 -2px #b2f1be inset;
        }
    }
    &-social{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &__title{
            font-family: $roboto;
            font-size: 18px;
            font-weight: 700;
            margin-top: 14px;
            letter-spacing: 0.9px;
            color: $bg-dark-color;
        }
        &__list{
            list-style-type: none;
            padding-left: 24px;
            &>li{
                display: inline-block;
                font-size: 18px;
                vertical-align: middle;
                margin-right: 12px;
                color: $accent-color;
            }
        }
    }
}
.other-books{
    background-color: #fff;
    &__title{
        text-align: center;
        font-size: 48px;
        margin-top: 160px;
        letter-spacing: 1.5px;
        color: $bg-dark-color;
        @media(max-width: 750px){
            margin-top: 80px;
        }
        @media(max-width: 520px){
            font-size: 30px;
            margin-top: 60px;
        }
        span{
            display: block;
            margin-top: 22px;
            letter-spacing: 1px;
            font-size: 18px;
            color: $accent-color;
            line-height: initial;
        }
    }
    .block-books{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        @media(max-width:1020px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        &-first, &-second, &-third{
            margin-top: 85px;
            -ms-flex-preferred-size: 32%;
                flex-basis: 32%;
            text-align: center;
            @media(max-width:1020px){
                max-width: 550px;
                margin: 40px auto;
            }
            &__title{
                margin-top: 35px;
                font-size: 24px;
                text-align: center;
                letter-spacing: 1px;
                color: $bg-dark-color;
            }
            &__text{
                letter-spacing: 0.75px;
                font-family: $open-sans;
                color: $text;
            }
            &__book{
                background-image: url(../img/svg/book-mini.svg);
                background-repeat: no-repeat;
                width: 269px;
                height: 409px;
                margin: 0 auto;
                position: relative;
                &__title{
                    position: absolute;
                    top: 70px;
                    left: 60px;
                    font-size: 24px;
                    font-weight: 700;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 1.2px;
                    span{
                        display: block;
                        margin-top: 7px;
                        color: $accent-color;
                        font-family: $open-sans;
                        font-size: 12px;
                        text-transform: initial;
                        letter-spacing: 0.6px;
                    }
                }
                &__text{
                    position: absolute;
                    bottom: 18px;
                    left: 75px;
                    color: $accent-color;
                    font-family: $open-sans;
                    font-size: 12px;
                    letter-spacing: 0.6px;
                }
            }
            &__link{
                text-decoration: none;
                color: $accent-color;
                letter-spacing: 0.75px;
                &:hover{
                    border-bottom: 2px solid $accent-color;
                }
            }
        }
    }
    &__btn{
        display: block;
        margin: 0 auto;
        margin: 50px auto 25px;
        text-align: center;
        border: none;
        border-radius: 3px;
        background: $btn-color;
        color: #fff;
        font-size: 18px;
        padding: 14px 33px;
        letter-spacing: 0.75px;
        outline: none;
        -webkit-box-shadow: 0 -2px #b2f1be inset;
                box-shadow: 0 -2px #b2f1be inset;
    }
}
.block-blog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: $text;
    @media(max-width:1020px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
    }
    &+.other-books__btn{
        margin: 68px auto 0;
        padding: 15px 33px;
    }
    &-item{
        margin-top: 60px;
        -ms-flex-preferred-size: 32%;
            flex-basis: 32%;
        h4{
            margin-top: 18px;
            font-size: 18px;
            letter-spacing: 0.85px;
            color: $bg-dark-color;
        }
    }
    &-info{
        margin-top: -9px;
        font-size: 15px;
        font-family: $open-sans;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        a{
            color: $accent-color;
            text-decoration: none;
            margin-left: 5px;
        }
        p span{
            margin-left: 5px;
        }
        p span~span{
            margin-left: 0;
        }
    }
    &__desc{
        font-size: 15px;
        font-family: $open-sans;
        letter-spacing: 0.75px;
        text-align: left;
    }
    &-img{
        width: 100%;
        height: 224px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 224px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
}
.block-letter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 0 30px;
    @media(max-width:1020px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    @media(max-width:850px){
    padding: 0 40px;
    }
    &-item{
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
        @media(max-width:1020px){
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        }
    }
    &__title{
        font-size: 48px;
        margin-bottom: 23px;
        letter-spacing: 1.9px;
        margin-top: 8px;
        color: $bg-dark-color;
        @media(max-width: 520px){
            font-size: 30px;
            line-height: 1;
        }
    }
    &__btn{
        display: block;
        width: 100%;
        background: $btn-color;
        color: $light-color;
        border-radius: 3px;
        text-align: center;
        letter-spacing: 1px;
        -webkit-box-shadow: 0 -2px #b2f1be inset;
                box-shadow: 0 -2px #b2f1be inset;
        outline: none;
        border: none;
        padding: 11px 0 18px 0;
        font-size: 18px;
        margin-top: 20px;
        @media(max-width:1020px){
            max-width: 500px;
            margin: 20px auto 0;
        }
    }
    &__input{
        width: 100%;
        background: $bg-dark-color;
        color: $gray-color;
        outline: none;
        border: none;
        border-radius: 3px;
        font-family: $open-sans;
        padding: 15px 27px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        letter-spacing: 0.75px;
        &:focus{
            outline: none;
            letter-spacing: 0.75px;
            color: $gray-color;
        }
        @media(max-width:1020px){
            max-width: 500px;
        }
    }
    &__text{
        font-family: $open-sans;
        letter-spacing: 0.75;
        text-align: justify;
        color: $text;
        @media(max-width:1020px){
            margin-bottom: 40px;
        }
    }
}
.footer{
    background-color: $bg-dark-color;
    color: $gray-color;
}
.block-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 160px 0 115px;
    @media (max-width:750px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 80px 0;
    }
    &-item{
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        @media (max-width:750px) {
            margin: 25px auto;
            text-align: center;
            max-width: 600px;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        }
        &__text{
            letter-spacing: 0.6px;
            margin-top: 25px;
        }
    }
    &__logo{
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo-mini.svg); 
        background-repeat: no-repeat;
        @media(max-width: 750px){
            margin: 0 auto 15px;
            font-size: 30px;
        }
    }
    &__title{
        font-size: 18px;
        color: $accent-color;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__list{
        list-style-type: none;
        letter-spacing: 0.75px;
        &>li{
            margin-top: 3px;
            &>a{
                text-decoration: none;
                color: $gray-color;
            }
        }
    }
    &__social{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin-top: 8px;
        &>li{
            margin-right: 12px;
            padding-left: 0;
            @media(max-width: 850px){
                font-size: 20px;
                padding-right: 9px;
            }
            @media(max-width: 750px){
                margin: 15px auto;
                font-size: 30px;
            }
            &>a{
               color: $accent-color;
            }
        }
    }
}
.slick-slide{
    outline: none;
}
.block-slider{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 160px;
    @media (max-width:1600px){
        padding-top: 0;
    }
    @media (max-width:1020px){
        padding-bottom: 80px;
    }
    h3{
        color: $accent-color;
        font-size: 24px;
        margin-bottom: 4px;
    }
    &__desc{
        font-family: $open-sans;
        color: $gray-color;
        max-width: 760px;
        letter-spacing: 0.75px;
        margin: 0 auto;
        line-height: 27px;
    }
    &-thumb{
        display: block;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 152px;
        height: 152px;
        border-radius: 100%;
        margin-top: 70px;
        img{
            width: 152px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
    &__expert{
        margin-bottom: 32px;
    }
    &-ava{
        position: relative;
        width: 152px;
        height: 152px;
        display: block;
        margin: 0 auto 27px;
    }
    &-quote{
        position: absolute;
        display: block;
        background-image: url(../img/quote.png);
        background-repeat: no-repeat;
        height: 42px;
        width: 48px;
        top: 0;
        right: -15px;
    }
}
.slick-dots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: 0;
    &>li{
        margin: 0 5px;
        &>button{
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border: none;
            background-color: $accent-color;
            border-radius: 100%;
            line-height: 0;
            font-size: 0;
            outline: none;
            cursor: pointer;
            padding: 0;
        }
    }
    &>li.slick-active{
        &>button{
            width: 37px;
            height: 8px;
            border-radius: 4px;
        }
    }
}